.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #835074;
    border-radius: 80rem 80rem 0 0;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.162);


}



.footer-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.footer-section-group {
    display: flex;
    flex-direction: column;
    /* Stack the label and icons vertically */
    align-items: center;
    /* Center align the content */
    padding: 1rem;

}

.footer-section {
    display: flex;
    justify-content: center;
    /* Center the icons horizontally */
}

@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);




.footer-section-group span {
    color: white;
    margin-bottom: 1.2rem;
}

.footer-section a {
    margin: 0 5px;
}

.footer-section svg {
    color: white;
    cursor: pointer;
    background-color: #9c658b;
    border-radius: 90rem;
    padding: 0.7rem;
}

.footer-section svg:hover {
    color: #ffffff;
    background-color: #efd176;
    transform: scale(1.2);
}

.logo {
    height: 8rem;
    width: auto;
    padding-left: 5rem;
    width: auto;
}

.footer-bottom-text {
    color: #dfdfdf;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    .logo {
        padding-left: 0rem;
    }

}

@media (max-width: 700px) {
    .logo {
        padding-left: 0rem;
        width: 8rem;
    }

    .footer-section-group {
        padding: 0rem;
    }

    .footer-section-group span {
        padding-bottom: -1rem;
    }


    .footer-section span {
        margin-top: 5px;
    }

    .footer-bottom-text {
        color: #eeeeee;
        margin-top: 20px;
        /* Adjust as necessary */

    }
}

@media (max-width: 450px) {
    .logo {
        padding-left: 0rem;
        width: 5rem;
        height: 5rem;
    }

    .footer-section-group {
        padding: -1rem;
    }

    .footer-section-group span {
        padding-bottom: -2rem;
        padding-left: 1rem;

    }


    .footer-section span {
        margin-top: 5px;
    }

    .footer-bottom-text {
        color: #eeeeee;
        margin-top: 0px;

        /* Adjust as necessary */

    }


    .footer-section svg {
        width: 0.5rem;
        height: 0.5rem;
        margin-top: 0;
    }

}

@media (max-width: 420px) {
    .logo {
        padding-left: 0rem;
        width: 5rem;
        height: 5rem;
    }

    .footer-section-group {
        padding: -1rem;
    }

    .footer-section-group span {
        padding-bottom: -2rem;
        padding-left: 1rem;

    }


    .footer-section span {
        margin-top: 5px;
    }

    .footer-bottom-text {
        color: #eeeeee;
        margin-top: 0px;

        /* Adjust as necessary */

    }


    .footer-section svg {
        width: 0.5rem;
        height: 0.5rem;
        margin-top: 0;
    }

}

@media (max-width: 376px) {
    .logo {
        padding-left: 0rem;
        width: 5rem;
        height: 5rem;
    }

    .footer-section-group {
        padding: -1rem;
    }

    .footer-section-group span {
        padding-bottom: -2rem;
        padding-left: 1rem;

    }


    .footer-section span {
        margin-top: 5px;
    }

    .footer-bottom-text {
        color: #eeeeee;
        margin-top: 0px;

        /* Adjust as necessary */

    }


    .footer-section svg {
        width: 0.5rem;
        height: 0.5rem;
        margin-top: 0;
    }

}

@media (max-width: 360px) {
    .logo {
        padding-left: 0rem;
        width: 4rem;
        height: 4rem;
    }

    .footer-section-group {
        padding: -1rem;
    }

    .footer-section-group span {
        padding-bottom: -2rem;
        padding-left: 1rem;

    }


    .footer-section span {
        margin-top: 5px;
    }

    .footer-bottom-text {
        color: #eeeeee;
        margin-top: 0px;

        /* Adjust as necessary */

    }


    .footer-section svg {
        width: 0.5rem;
        height: 0.5rem;
        margin-top: 0;
    }

}