/* Story Page Background */
.storypage {
    background-image: url('../addings/StoryPage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    align-items: center;
    position: relative;

}

.story-bigframe {
    position: relative;
}

.story-clouds {
    top: 6rem;
    left: 3%;
    position: absolute;
    width: 90%;
    height: auto;
}

.story-section {
    position: relative;
}

.story-content {
    position: relative;
    align-items: center;
    top: 17rem;

}

.story-frame {
    top: 15rem;
    left: 6%;
    position: absolute;
    width: 90%;
    height: auto;
}

.story-book {
    left: 13%;
    top: 4rem;
    position: absolute;
    width: 77%;
    height: auto;
    z-index: 10;
}

.button-container {
    width: 60%;
    top: 2rem;
    left: 50%;
    /* Center the container */
    /* Use flexbox for internal alignment */
    justify-content: space-evenly;
    /* Space out the buttons evenly */
    align-items: center;
    /* Align buttons vertically */
    padding: 1rem;
    /* Add some padding around the buttons */
}

.button-container button img {
    width: 10vw;
    /* Use viewport width for scaling */
    height: auto;
    /* Maintain aspect ratio */
    transition: transform 0.3s ease;
}

.button-container button:hover img {
    transform: scale(1.1);
    /* Scales the image up on hover */
}
.new-button-container {
    width: 60%;
    left: 50%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    z-index: 500;
    display: flex;
    position: fixed; /* Stays fixed during scrolling */
    top: 120vh; /* Adjusted to bring it into the viewport */
    transform: translateX(-50%); /* Center horizontally */
}





.new-button-container button img {
    width: 10vw;
    /* Use viewport width for scaling */
    height: auto;
    /* Maintain aspect ratio */
    transition: transform 0.3s ease;
    
}

.new-button-container button:hover img {
    transform: scale(1.1);
    /* Scales the image up on hover */
}



/* Fullscreen adjustments */
.full-screen-active .button-container {
    display: none;
    /* Hide buttons in fullscreen mode */
}

.full-screen-active .story-book,
.full-screen-active .story-output {
    /* Increase sizes for better visibility */
    width: 85%;
    top: -9%;
    left: 10%;
    align-items: center;
}

.full-screen-active .story-output {
    left: 13.5rem;
    font-size: 1.2rem;
    width: 100%;
    top: -5rem;
    /* Larger text in fullscreen */
    /* Adjust vertical position for readability */
}

.full-screen-active .right-page {
    top: 10rem;
}

.full-screen-active .story-image {
    width: 90%;
}

.exit-fullscreen-button {
    display: none;
    /* Hide the button by default */
    position: fixed;
    /* Fixed position to keep it in place */
    top: 2rem;
    /* Adjust the position as needed */
    right: 2rem;
    /* Adjust the position as needed */
    z-index: 1000;
    background-color: black;
    border: none;
    /* Ensure it's above all other content */
}

.exit-fullscreen-button img {
    width: 6rem;
    height: auto;
}


.full-screen-active .exit-fullscreen-button {
    display: block;
    /* Show the button in fullscreen mode */
}

.left-page {
    position: absolute;
    top: 32rem;
    /* Adjust as needed */
    bottom: 50px;
    /* Adjust as needed */
    left: 19%;
    /* Adjust as needed */
    right: 50%;
    /* Adjust as needed */
}

.right-page {
    position: absolute;
    top: 17rem;
    /* Adjust as needed */
    bottom: 50px;
    /* Adjust as needed */
    left: 52%;
    /* Adjust to the center spine of the book */
    right: 10%;
    /* Adjust as needed */
    padding: 20px;
    /* Adjust as needed */
    z-index: 15;
}

/* Story Output */
.story-output {
    /* Adjust this value to position the story text over the book */

    width: 97%;
    /* Set a max width for the text */
    text-align: center;
    /* Center the text within the div */
    font-family: 'Droid Arabic Kufi', serif;
    /* Use the special font you imported */
    font-size: 0.93rem;
    /* Adjust as needed */
    color: #333;
    /* Change the color as needed */
    z-index: 10;
    /* Ensure it's above the background image */
}

.story-image {
    width: 80%;
    height: auto;
    /* You might not need to adjust the width and height if the parent container is sized correctly */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    /* Ensure it's above all other content */
}

.modal-content {
    background: rgb(234, 187, 104);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    /* or any other size */
    z-index: 1051;
}

.modal-close-button {
    cursor: pointer;
    background-color: #835074;
    color: white;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-close-button:hover {
    background-color: #6a3f5d;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* Overlay the spinner on the page */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.144);
    /* Optional: white background with opacity */
    z-index: 1050;
    /* Above other content */
}

.spinner {
    width: 6rem;
    /* Adjust size as needed */
    height: auto;
    /* Adjust size as needed */
    animation: spin 1s linear infinite;
    /* Spinner animation */
}

/*feedback*/
.small-btn-container {
    position: relative;
    left: 15%;
    top: 7.5vh;
    transition: all 0.3s ease;
    z-index: 150;
}

.small-btn {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Droid Arabic Kufi', serif;
    background-color: #835074;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    padding: 15px 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    /* Optional: add shadow to button */
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth background color transition */

}

.small-btn-container :hover {
    transform: scale(1.1);
    background-color: #F9DCA8;
    color: #835074;
}

/*rrrr*/
.radio-buttons {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */

    position: relative;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    min-height: 1vh;
    /* Full viewport height */
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button label {
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    transition: background-image 0.3s ease;
    /* Smooth transition for background image */
}

.like-label {
    background-image: url('../addings/Group\ 394.png');
    /* Path to your like icon */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    min-height: 1vh;
}

.dislike-label {
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    min-height: 1vh;
    background-image: url('../addings/Group\ 395.png');
    /* Path to your dislike icon */
}

.radio-button input[type="radio"]:checked+.like-label {
    background-image: url('../addings/Group\ lk\ .png');
    /* Path to your active like icon */
}

.radio-button input[type="radio"]:checked+.dislike-label {
    background-image: url('../addings/Group\ uk.png');
}

.in-btn1 {
    border-radius: 80px;
    border: none;
    text-align: right;
    width: 90%;
    color: #C4C4C4;
    font-family: 'Droid Arabic Kufi', serif;
    box-shadow: 0 4px 8px rgba(55, 54, 54, 0.5);
    position: relative;
    margin: 1PX;
    padding: 10px;
}

.lbl1 {
    display: block;
    font-family: 'Droid Arabic Kufi', serif;
    color: #835074;
    margin-bottom: 0.6rem;
    font-weight: bold;
    margin-top: 0.8rem;
    text-align: center;
    font-size: 25px;
}






/*feedback*/
.small-btn-container {
    position: relative;
    left: 15%;
    top: 7.5vh;
    transition: all 0.3s ease;
    z-index: 150;
}

.small-btn {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Droid Arabic Kufi', serif;
    background-color: #835074;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    padding: 15px 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    /* Optional: add shadow to button */
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth background color transition */

}

.small-btn-container :hover {
    transform: scale(1.1);
    background-color: #F9DCA8;
    color: #835074;
}

/*rrrr*/
.radio-buttons {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */

    position: relative;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    min-height: 1vh;
    /* Full viewport height */
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button label {
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    transition: background-image 0.3s ease;
    /* Smooth transition for background image */
}

.like-label {
    background-image: url('../addings/Group\ 394.png');
    /* Path to your like icon */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    min-height: 1vh;
}

.dislike-label {
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    min-height: 1vh;
    background-image: url('../addings/Group\ 395.png');
    /* Path to your dislike icon */
}

.radio-button input[type="radio"]:checked+.like-label {
    background-image: url('../addings/Group\ lk\ .png');
    /* Path to your active like icon */
}

.radio-button input[type="radio"]:checked+.dislike-label {
    background-image: url('../addings/Group\ uk.png');
}

.in-btn1 {
    border-radius: 80px;
    border: none;
    text-align: right;
    width: 90%;
    color: #C4C4C4;
    font-family: 'Droid Arabic Kufi', serif;
    box-shadow: 0 4px 8px rgba(55, 54, 54, 0.5);
    position: relative;
    margin: 1PX;
    padding: 10px;
}

.lbl1 {
    display: block;
    font-family: 'Droid Arabic Kufi', serif;
    color: #835074;
    margin-bottom: 0.6rem;
    font-weight: bold;
    margin-top: 0.8rem;
    text-align: center;
    font-size: 25px;
}






@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media (max-width: 1324px) {

    .right-page {
        top: 15rem;
    }

    .left-page {
        top: 27.5rem;
    }

    .story-output {
        font-size: 0.85rem;
    }
    .new-button-container {
        top: 95vh; /* Adjust based on visual preference */
    }
    
}

@media (max-width: 1224px) {

    .button-container {
        top: 0.9rem;
    }

    .story-book {
        top: 2.8rem;
    }

    .right-page {
        top: 13.5rem;
    }

    .left-page {
        top: 25rem;
    }

    .story-output {
        font-size: 0.78rem;
    }
    .new-button-container {
        top: 70vh;
    }
}

@media (max-width: 1090px) {

    .button-container {
        top: 0.2rem;
    }
    .new-button-container {
        top: 78vh;/**corect*/
    }

    .story-book {
        top: 2.3rem;
    }

    .right-page {
        top: 11.5rem;
    }

    .left-page {
        top: 22rem;
    }

    .story-output {
        font-size: 0.68rem;
    }
}

@media (max-width: 960px) {

    .button-container {
        top: 0rem;
    }

    .story-book {
        top: 1.7rem;
    }

    .right-page {
        top: 9.5rem;
    }

    .left-page {
        top: 19rem;
    }

    .story-output {
        font-size: 0.6rem;
    }
    .new-button-container {
        top: 66vh;/*corect*/
    }
}

@media (max-width: 820px) {
    .new-button-container {
        top: 63vh;/*corect*/
    }

    .button-container {
        top: -0.4rem;
    }

    .story-book {
        top: 1.2rem;
    }

    .right-page {
        top: 7.5rem;
    }

    .left-page {
        top: 16rem;
    }

    .story-output {
        font-size: 0.5rem;
    }
}

@media (max-width: 768px) {
    .button-container {
        top: -0.5rem;
    }

    .story-book {
        top: 0.8rem;
    }

    .right-page {
        top: 6.5rem;
    }

    .left-page {
        top: 14rem;
    }

    .story-output {
        font-size: 0.4rem;
    }
    .new-button-container {
        top: 57vh;/*corect*/
    }
}


@media (max-width: 600px) {
    .button-container {
        top: -1rem;
    }

    .story-book {
        top: 0.6rem;
    }

    .right-page {
        top: 5.5rem;
    }

    .left-page {
        top: 11.5rem;
    }

    .story-output {
        font-size: 0.32rem;
    }
    .new-button-container {
        top: 46vh;
    }
}

@media (max-width: 500px) {
    .button-container {
        top: -1.2rem;
    }
    .new-button-container {
        top: 36vh;/*corect*/
    }

    .story-book {
        top: 0.55rem;
    }

    .right-page {
        top: 5rem;
    }

    .left-page {
        top: 9.5rem;
    }

    .story-output {
        font-size: 0.28rem;
    }
}

.audio {
    border: #333;
}